.login {
  width: 286px;
  display: flex;
  align-items: center;
  justify-content: right;
  ul {
    display: flex;

    li:last-child {
      padding-right: 0;
      margin-right: 0;
    }

    li {
      position: relative;
      padding-right: 10px;
      margin-right: 10px;
      font-size: 14px;
      font-weight: 400;
      color: #000;
      letter-spacing: -0.8px;
      list-style: none;

      a {
        color: #5a7791;
      }

      a:link,
      a:visited {
        text-decoration: none;
      }
    }
  }
}
