.headerWrapper {
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    height: 100px;
    background-color: #ffffff;
}

.header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 1600px;
    max-width: 1600px;
    gap: 20px;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    a {
        display: inline-block;
        width: 300px;
        height: 100px;
        background-image: url('./images/h_logo_e1.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
    }
    
    span {
        display: block;
        overflow: hidden;
        position: absolute !important;
        left: -9999px;
        width: 1px;
        height: 1px;
        font-size: 0;
        line-height: 0;
        text-indent: -9999px;
    }
}

.nav {
    display: flex;
    /* flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    vertical-align: middle;
    position: relative; */
    width: 100%;
    height: 100%;

    > div {
        margin-right: 10px;
    }
}
